* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR-STYLING */
.navbar {
  box-shadow: 0 5px 10px rgba(211, 211, 211, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.links {
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
}

/* DARK-MODE ICON */
#dark-mode-icon {
  font-size: larger;
  cursor: pointer;
  padding: 15px;
}

/* CONTENT SECTION */
section {
  width: 90%;
  margin: 20px auto;
}

section p {
  padding: 10px 0;
  color: grey;
}

/* DARK-MODE | ON CLICK*/
.dark-mode {
  background-color: black;
  color: white;
}

.dark-nav {
  background-color: black;
  box-shadow: none;
  border-bottom: 1px rgba(211, 211, 211, 0.205) solid;
}

footer {
  text-align: start;
  padding: 25px 30px;
}

footer a {
  text-decoration: none;
  color: grey;
}
